.error {
  margin-top: 200px !important;
  margin-bottom: 200px !important;
  background-color: #6d2932;
  color: #ffffff;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.btn {
  border: 2px solid transparent #ffff;
  color: #ffffff;
  border-radius: 10%;
  background: #b67352;
}
.btn:hover {
  background: #ffffff;
  color: #b67352;
}
